[Unit]
Description=logstash


[Service]
RuntimeDirectory=logstash
WorkingDirectory={{ logstash_home }}
User=opensearch
Group=opensearch
ExecStart={{ logstash_home }}/bin/logstash -f {{ ntt_conf_dir }}
Nice=19
LimitNOFILE=102400


[Install]
WantedBy=multi-user.target